.fotoAll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.row {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
  margin-top: 5%;
  display: flex;
    flex-wrap: wrap;
    padding: 0 1vh 1vh 1vh;
  width: 75%;
  bottom: 10%;
  z-index: 1;
  gap: 2.6%;
}
.column {
  flex: 23%;
  max-width: 25%;
  padding-bottom: 10%;
  height: 400vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: 0.4s ease-out;
}
.column .fotoImg {
  vertical-align: middle;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 1vh;
  background-color: #6868cc;
  box-shadow: 0 0 0 1vh #6262bf;
}
.column .fotoImg:hover {
  scale: 110%;
  box-shadow: 0 0 0 1.25vh #6262bf;
}

.column div {
  vertical-align: middle;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #6262bf;
  box-shadow: 0 0 0 1vh #6262bf;
}
.column div:hover {
  scale: 110%;
  box-shadow: 0 0 0 1.25vh #6262bf;
}

.fotoBackground {
  position: fixed;
    transform: translate(-50%, -50%) rotate(-3deg);
    left: 50%;
    top: 50%;
  transition: 1.5s;
  background-color: #6262bf;
  height: 70%;
  width: 80%;
  display: block;
  z-index: -1;
}


@media screen and (max-width: 1300px) {
  .column {
    flex: 48%;
    max-width: 50%;
    height: 700vw;
  }
  .row {
    width: 60%;
  }
  .fotoBackground {
    width: 70%;
    transform: translate(-50%, -50%) rotate(3deg);
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 98%;
    max-width: 100%;
    height: 1000vw;
  }
  .row {
    width: 50%;
  }
  .fotoBackground {
    width: 70%;
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}










.fotoPage {
  max-width: 80vw;
  object-fit: contain;
  height: 82vh;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) scale(69%);
  transition: 0.4s;
  opacity: 0;
  background-color: #6262bf;
  box-shadow: 0 0 0 3vh #6262bf, 2vh 2vh 0 3vh rgba(0, 0, 0, 0.10);
}
.fotoAllPage {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







.backButton {
  position: fixed;
  right: 7.5vh;
  top: -3.5vh;
  transition: 0.2s;
  box-shadow: 1vh 1vh 0 0 rgba(0, 0, 0, 0.10);
  background-color: #6262bf;
  transform: translate(0, -150%);
  transition: 0.3s, transform 1s 0.5s;
  cursor: pointer;
  border: solid #6262bf;
  border-width: 5vh 1.5vh 1.5vh;
  transform-origin: top;
  display: flex;
  z-index: 1;
}
.backButton:hover {
  scale: 105%;
}
.backButton img {
  height: 4vh;
  filter: drop-shadow(0 0 15px rgba(207, 197, 253, 0.5));
}








.fotoSliderRight {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  min-width: 150px;
  width: 5%;
  cursor: pointer;
  transition: 0.1s;
  z-index: 1;
}
.fotoArrowRight {
  position: relative;
  left: 3.5vh;
  transition: 0.2s;
  height: 6vh;
  width: 6vh;
  transform: translate(0, -50%);
  transform-origin: top left;
  top: 50%;
  filter: drop-shadow(0 0 15px rgba(207, 197, 253, 0.5))
}
.fotoSlider:hover { box-shadow: 120px 0 40px -80px rgba(0, 0, 0, 0.15) inset; }
.fotoSlider:hover .fotoArrow{ scale: 115%; }

.fotoSliderRight {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  min-width: 150px;
  width: 5%;
  cursor: pointer;
  transition: 0.1s;
  z-index: 1;
}
.fotoArrowRight {
  position: relative;
  left: 3.5vh;
  transition: 0.2s;
  height: 6vh;
  width: 6vh;
  transform: translate(0, -50%);
  transform-origin: top left;
  top: 50%;
  filter: drop-shadow(0 0 15px rgba(207, 197, 253, 0.5))
}
.fotoSliderRight:hover { box-shadow: 120px 0 40px -80px rgba(0, 0, 0, 0.15) inset; }
.fotoSliderRight:hover .fotoArrow{ scale: 115%; }