.fotoAll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.fotoAll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.row {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
  margin-top: 5%;
  display: flex;
    flex-wrap: wrap;
    padding: 0 1vh 1vh 1vh;
  width: 75%;
  bottom: 10%;
  z-index: 1;
  gap: 2.6%;
}
.column {
  flex: 23%;
  max-width: 25%;
  padding-bottom: 10%;
  height: 400vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: transform 0.6s, opacity 0.35s;
}
.column * {
  vertical-align: middle;
  width: 100%;
  transition: scale 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-bottom: 1vh;
  background-color: #6262bf;
  box-shadow: 0 0 0 1.25vh #6262bf;
  font-size: 4vh;
  color: #cfc5fd;
}
.column *:hover {
  scale: 110%;
}



.fotoBackground {
  position: fixed;
    transform: translate(-50%, -50%) rotate(-3deg);
    left: 50%;
    top: 50%;
  transition: 1.5s;
  background-color: #6262bf;
  height: 70%;
  width: 80%;
  display: block;
  z-index: -1;
}


@media screen and (max-width: 1300px) {
  .column {
    flex: 40%;
    max-width: 50%;
    height: 700vw;
  }
  .row {
    width: 60%;
    gap: 5%;
  }
  .fotoBackground {
    width: 70%;
    transform: translate(-50%, -50%) rotate(3deg);
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 90%;
    max-width: 100%;
    height: 1000vw;
    gap: 5%;
    height: fit-content;
  }
  .column * {
    margin-bottom: 5vh;
  }
  .row {
    width: 40%;
  }
  .fotoBackground {
    width: 70%;
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}










.fotoPage {
  max-width: 80vw;
  object-fit: contain;
  height: 82vh;
  position: absolute;
  top: 47%;
  left: 60%;
  transform: translate(-50%, -50%) scale(69%);
  transition: transform 0.4s, opacity 0.45s, left 0.4s, right 0.4s, translate 0.4s;
  opacity: 0;
  pointer-events: none;
  filter: drop-shadow(2vh 0vh 0 #6262bf) drop-shadow(-2vh 0 0 #6262bf) drop-shadow(0 2vh 0 #6262bf) drop-shadow(0 -2vh 0 #6262bf) drop-shadow(1.5vh 1.5vh 0 rgba(0, 0, 0, 0.10));
  /* I am not adding a wrapper to each image for the border no fuck you */
}
.fotoAllPage {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







.closePageButton {
  position: fixed;
  right: -3vh;
  top: 2vh;
  box-shadow: 1vh 1vh 0 0 rgba(0, 0, 0, 0.10);
  background-color: #6262bf;
  transition: right 0.3s, transform 1s;
  transform: translate(150%, 0%);
  cursor: pointer;
  border: solid #6262bf;
  border-width: 1.5vh 6vh 1.5vh 1.5vh;
  transform-origin: right;
  display: flex;
  z-index: 1;
}
.closePageButton:hover {
  right: -2vh;
}
.closePageButton img {
  height: 4vh;
  filter: drop-shadow(0 0 1.5vh rgba(207, 197, 253, 0.5));
}








.fotoPageLeftRight {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 14vh;
  height: 7vh;
  transform: translate(-50%, 100%);
  cursor: pointer;
  transition: transform 0.8s;
  background-color: #6262bf;
  box-shadow: 1vh 1vh 0 0 rgba(0, 0, 0, 0.10);
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotoPageLeftRight img {
  left: 3.5vh;
  transition: padding 0.3s, scale 0.3s, filter 0.3s;
  height: 4.5vh;
  top: 50%;
  padding: 2vh;
  filter: drop-shadow(0 0 1.5vh rgba(207, 197, 253, 0.5));
}

.fotoPageLeftRight img:hover { scale: 110%; filter: drop-shadow(0 0 1.25vh rgba(207, 197, 253, 1));}